<div class="row">
  <div class="col-md-12">
    <div class="card card-stats card-raised">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-info">
                  <i class="now-ui-icons users_single-02"></i>
                </div>
                <h3 class="info-title">{{clients}}</h3>
                <h6 class="stats-title">Active Clients</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="now-ui-icons ui-2_chat-round"></i>
                </div>
                <h3 class="info-title">{{completedCalls}}</h3>
                <h6 class="stats-title">Alarm Calls</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-success">
                  <i class="now-ui-icons business_money-coins"></i>
                </div>
                <h3 class="info-title">
                  <small>$</small>
                  {{((cost * (-1))+'').replace('.',',')}}
                </h3>
                <h6 class="stats-title">Spent</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
