<div class="sidebar" data-color="blue">
  <div class="logo">
    <a class="simple-text logo-mini">
      AS
    </a>
    <a class="simple-text logo-normal">
      Alarm System
    </a>
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
        <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
        <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
      </button>
    </div>
  </div>

  <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y">
    <ul class="nav">
      <li [ngClass]="{'active': clientClicked}" (click)="callClicked = false; clientClicked=true;statsClicked=false;">
        <a>
          <i class="now-ui-icons emoticons_satisfied"></i>
          <p style="font-size: 14px" routerLink="/clients" routerLinkActive="active">Clients</p>
        </a>
      </li>
      <li [ngClass]="{'active': callClicked}" (click)="callClicked = true; clientClicked=false;statsClicked=false;">
        <a>
          <i class="now-ui-icons tech_headphones"></i>
          <p style="font-size: 14px" routerLink="/calls" routerLinkActive="active">Calls</p>
        </a>
      </li>
      <li [ngClass]="{'active': statsClicked}" (click)="statsClicked=true;clientClicked=false;callClicked = false;">
        <a>
          <i class="now-ui-icons business_chart-bar-32"></i>
          <p style="font-size: 14px" routerLink="/statistic" routerLinkActive="active">Statistics</p>
        </a>
      </li>
    </ul>
  </div>
</div>
