<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="panel-header panel-header-sm">
  </div>
  <div class="content" style="margin-top: -100px">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Calls</h4>
          </div>
          <div class="card-body ">
            <table class="table">
              <thead>
              <tr>
                <td>#</td>
                <td>Number</td>
                <td>Created</td>
                <td>Completed</td>
                <td>Status</td>
                <td>Duration</td>
                <td>Cost</td>
                <td>Language</td>
                <td>Alarm Id</td>
                <td>Alarm Parent Id</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let call of calls; let i = index">
                <td>{{i + 1}}</td>
                <td>{{call.callNumber.number}}</td>
                <td>{{formatDate(call.creation)}}</td>
                <td>{{formatDate(call.updated)}}</td>
                <td>{{call.callStatus.name}}</td>
                <td>{{formatDuration(call.duration)}} s</td>
                <td>{{formatCost(call.cost)}} $</td>
                <td>{{formatLanguage(call.alarm)}}</td>
                <td>{{call.id}}</td>
                <td>{{call.parentId}}</td>
              </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{'page-item disabled': first}">
                  <a class="page-link" tabindex="-1" (click)="loadPage(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">99</a></li>
                <li class="page-item" [ngClass]="{'disabled': last}">
                  <a class="page-link" (click)="loadPage()">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
