<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="panel-header panel-header-sm">
  </div>
  <div class="content" style="margin-top: -100px">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <nav class="pagination-buttons">
              <ul class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{'disabled': first}">
                  <a class="page-link" tabindex="-1" (click)="loadPage(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': last}">
                  <a class="page-link" tabindex="-1" (click)="loadPage(currentPage + 1)">Next</a>
                </li>
              </ul>
            </nav>
            <h4 class="card-title">Calls</h4>
            <h4 class="category">Page {{currentPage + 1}} of {{totalPages}}</h4>
          </div>
          <div class="card-body ">
            <table class="table">
              <thead>
              <tr>
                <td>#</td>
                <td>
                  <input type="text" class="form-control form-control-sm" placeholder="Search by phone number"
                         [(ngModel)]="searchPhoneNumber" (ngModelChange)="searchCallByNumber()"/>
                </td>
                <td>Created</td>
                <td>Ended</td>
                <td>Status</td>
                <td>Duration</td>
                <td>Cost</td>
                <td>Language</td>
                <td>Call ID</td>
                <td>Parent Call ID</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let call of calls; let i = index">
                <td>{{(i + 1) + (currentPage * size)}}</td>
                <td>{{call.number}}</td>
                <td>{{formatDate(call.creation)}}</td>
                <td>{{formatDate(call.updated)}}</td>
                <td>{{call.value}}</td>
                <td>{{formatDuration(call.duration)}} s</td>
                <td>{{formatCost(call.cost)}} $</td>
                <td>{{call.name}}</td>
                <td>{{call.id}}</td>
                <td>{{call.parentId}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
