.table > thead > tr > td {
  font-weight: bold;
  text-align: center !important;
}

.table > tbody > tr > td {
  text-align: center !important;
}

.pagination-buttons {
  position: absolute;
  right: 0;
  top: 35px;
}
