<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">Clients</h4>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead>
          <tr>
            <td>#</td>
            <td>Name</td>
            <!--<td>Proof</td>-->
            <td>Registered</td>
            <td>Updated</td>
            <td>Internal Id</td>
            <td>External Id</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients; let i = index">
            <td>{{i + 1}}</td>
            <td>{{client.firstName}} {{client.lastName}}</td>
            <!--<td>{{client.proof ? 'Yes' : 'No'}}</td>-->
            <td>{{formatDate(client.registered)}}</td>
            <td>{{formatDate(client.updated)}}</td>
            <td>{{client.id}}</td>
            <td>{{client.externalId}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
